@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    
}

body{
    background-color: rgb(32, 32, 32);
}

.container{
    width: 1000px;
    margin: auto;
    background-color: rgb(65, 65, 65);
}


/*===標題區===*/
.logo{
    width: 50px;
    height: 50px;
}
.header{
    background-image: url("123123.png");
    width: 1000px;
    height: 250px;
    position: relative;
}
.header h1{
    position: absolute;
    left: 0px;
    top: 200px;
}


.header ul{
    position: absolute;
    left: 700px;
    top: 10px;
}
.header li{
    list-style: none;
    float: left;
}
.header li a{
    color: #FFFFFF;
    margin-right: 20px;
    text-decoration: underline;
}
.header li a:hover{
    color: darkgray;
    text-decoration: underline;
}

.content{
    background-color: rgb(151, 151, 151);
}

.nav li a{
    display: block;
    width: 170px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
}
.nav ul{
    top: 200px;
    left: 50px;
    width: 950px;
    height: 50px;
    background-color: black;
}
.nav li{
    list-style: none;
    float: left;
    display: block;
    
}
.nav li a:hover{
    background-color: rgb(27, 27, 27);
    text-decoration: none;
}

.content{
    border-radius: 40px;
    padding: 20px 30px 20px 30px;
}
.content h1{
    color: cornflowerblue;
}
.content h2{
    color: rgb(31, 102, 102);
}
.content h3{
    color: black;
}
.content h4{
    color: rgb(255, 255, 255);
}
.content br{
    color: black;
    border: 3px;
}
.content p{
    color: black;
}

.footer{
    background-color: rgb(63, 63, 63);
}
.footer ul{
    width: 1000px;
    height: 100px;
}
.footer li{
    list-style: none;
    float: left;
    display: block;
}
.footer li a{
    display: block;
    width: 40px;
    height: 40px;
    padding-top: 20px;
}
.footer p{
    padding-top: 15px;
    text-align: center;
}